* { 
  box-sizing: border-box; 
}

body { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 
  background-color: #9f8a73; 
  border: .4rem solid rgb(55, 25, 21); 
  border-radius: .3rem; 
  overflow: hidden; 
  position: relative;
}

body, .quote-input {
  font-family: Consolas, Monaco, 'Lucida Console', monospace;
  font-size: 1.3rem;
}

.container { 
  background-color: rgba(247, 231, 207, 0.7); 
  box-shadow: 10px 10px 20px rgba(55, 25, 21, 0.6); 
  border: .2rem solid rgb(55, 25, 21); 
  border-radius: .5rem; 
  padding: 1rem; 
  border-radius: .5rem; 
  width: 700px; 
  max-width: 90%; 
  z-index: 10;
  position: relative;
}

.timer { 
  position: absolute; 
  top: 2rem; 
  font-size: 5rem; 
  color: rgb(55, 25, 21); 
  font-weight: bold; 
}

.quote-display { 
  margin-bottom: 1rem; 
  margin-left: calc(0.9rem + 2px); 
  margin-right: calc(0.9rem + 2px); 
}

.quote-input { 
  background-color: transparent; 
  border: 2px solid #9f8a73; 
  outline: none; 
  width: 100%; 
  height: 8rem; 
  margin: auto; 
  resize: none; 
  padding: .5rem 1rem; 
  border-radius: .5rem; 
}

.quote-input:focus { 
  border-color: rgba(55, 25, 21, 0.6); 
}

.correct { 
  color: green; 
}

.incorrect { 
  color: red; 
  text-decoration: underline; 
}

.content { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 400px; 
  max-width: 80%; 
  z-index: 20;
  position: relative;
}

.menu-container { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background-color: rgba(247, 231, 207, 0.7); 
  box-shadow: 10px 10px 20px rgba(55, 25, 21, 0.6); 
  border: .2rem solid rgb(55, 25, 21); 
  border-radius: .5rem; 
  width: 300px; 
  max-width: 60%; 
}

.mode-selection { 
  margin: 1rem; 
  padding: 1rem; 
  width: 80%; 
  border: .2rem solid rgb(55, 25, 21); 
  border-radius: .3rem; 
  background-color: #F7E7CF; 
  font-size: 1.4rem; 
  color: rgb(55, 25, 21); 
  font-weight: bold; 
}

.mode-selection:hover {
  background-color:rgb(55, 25, 21);
  color: #F7E7CF;
  transition: 0.7s;
  cursor: pointer;
}

.logo { 
  position: relative; 
  width: 100%; 
  max-width: 300px; 
  height: auto; 
}

.logo:hover {
  transform: rotate(360deg);
  transition: 0.7s;
}

.typewriter-icon {
  position: absolute;
  opacity: 0.2;
  width: 100px;
  transform: rotate(45deg);
  transition: all 10s linear;
  z-index: 1;
}